@tailwind base;
@tailwind components;
@tailwind utilities;
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 220px;
}

header > div.logo img {
  position: relative;
  top: 15px;
  right: 15px;
}

header > nav > ul {
  height: inherit;
  width: inherit;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

header > nav > ul > li {
  position: relative;
  height: inherit;
  width: auto;
  top: 35px;
}

header > nav > ul > li > a {
  position: relative;
  text-decoration: none;
  color: #717171;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-family: estedad;
}

header > nav > ul > li > a:hover {
  color: #417F56;
  font-weight: bold;
  border-bottom: 2px solid #417F56;
  padding-bottom: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header > div.left-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  top: 20px;
}

header > div.left-icon > img.search {
  border-radius: 4px;
  background-color: #e5f2e9;
  height: 40px;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header > div.left-icon > img.cart {
  border-radius: 4px;
  background-color: #e5f2e9;
  height: 40px;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header > div.left-icon > img.user {
  border-radius: 4px;
  background-color: #e5f2e9;
  height: 40px;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: estedad;
  src: url(/assistent/font/Estedad-v5.0-Fontjo.com/Estedad[wght\,kshd].ttf);
}

div.food-swiper > img {
  max-width: 100%;
}

div.tabs {
  width: 100%;
  position: relative;
  background-color: #ededed;
  height: 64px;
  overflow: hidden;
  text-align: right;
  font-size: 19px;
  color: #717171;
  font-family: estedad;
}

div.tabs ul.tab-groupe {
  white-space: nowrap;
  top: 14px;
  position: absolute;
  left: calc(50% + 240px);
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  right: 30px;
  gap: 32px;
}

div.tabs ul.tab-groupe > li.tab {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

div.tabs ul.tab-groupe > li.tab:hover {
  color: #417f56;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #417f56;
}

div.the-foods {
  direction: ltr;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 8px;
  font-size: 16px;
  color: #353535;
  font-family: estedad;
}

div.the-foods > div.persian-food,
div.the-foods div.non-persian-food,
div.the-foods div.pizza,
div.the-foods div.sandwich {
  right: 60px;
  position: relative;
  border-radius: 64px;
  background-color: #ededed;
  height: 34px;
  padding: 3px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

div.the-foods > div.persian-food > p,
div.the-foods div.non-persian-food > p,
div.the-foods div.pizza > p,
div.the-foods div.sandwich > p {
  position: relative;
  bottom: 23px;
}

div.the-foods > div.persian-food > img,
div.the-foods div.non-persian-food > img,
div.the-foods div.pizza > img,
div.the-foods div.sandwich > img {
  position: relative;
  width: 16px;
  height: 16px;
  color: #353535;
  right: 16px;
  top: 2px;
}

section.foods {
  font-family: estedad;
}

section.foods > h2 {
  width: 200px;
  position: relative;
  font-size: 24px;
  line-height: 140%;
  text-transform: capitalize;
  font-family: estedad;
  color: #353535;
  text-align: right;
  right: 60px;
}

section.foods > div.space {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
  text-align: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.foods > div.space > div.kofte {
  width: 600px;
  position: relative;
  -webkit-box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 160px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  font-size: 12px;
  font-family: estedad;
  -webkit-transition: 200ms;
  transition: 200ms;
  right: 60px;
}

section.foods > div.space > div.kofte:hover {
  -webkit-box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.1), 0px 9px 5px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.1), 0px 9px 5px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 0px rgba(0, 0, 0, 0.5);
}

section.foods > div.space > div.kofte > img {
  width: 169px;
  position: absolute;
  border-radius: 0px 4px 4px 0px;
  max-width: 100%;
  overflow: hidden;
  height: 158px;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0;
}

section.foods > div.space > div.kofte > div.details {
  position: relative;
}

section.foods > div.space > div.kofte > div.details > div.line-1 {
  position: relative;
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 96px;
  text-align: right;
  font-size: 20px;
  color: #353535;
  font-family: estedad;
}

section.foods > div.space > div.kofte > div.details > div.line-1 > h2 {
  width: 263px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  font-family: estedad;
  color: #353535;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  white-space: nowrap;
  height: 36px;
  right: 190px;
  top: 8px;
}

section.foods > div.space > div.kofte > div.details > div.line-1 > img {
  width: 24px;
  position: absolute;
  height: 24px;
  right: 560px;
  top: 8px;
}

section.foods > div.space > div.kofte > div.details div.price-recipe {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 17px;
  text-align: center;
  font-size: 12px;
  font-family: estedad;
}

section.foods > div.space > div.kofte > div.details div.price-recipe > span {
  width: 263px;
  position: absolute;
  font-size: 14px;
  line-height: 180%;
  text-transform: capitalize;
  font-family: estedad;
  color: #353535;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: wrap;
  text-overflow: ellipsis;
  height: 50px;
  right: 190px;
  top: -8px;
}

section.foods > div.space > div.kofte > div.details div.price-recipe > div.off {
  width: 27px;
  position: relative;
  font-size: 12px;
  line-height: 180%;
  text-transform: capitalize;
  color: #c30000;
  text-align: center;
  display: inline-block;
  background-color: #f7dede;
  border-radius: 8px;
  right: 550px;
  bottom: 10px;
}

section.foods > div.space > div.kofte > div.details div.price-recipe > div.price {
  display: inline-block;
  position: relative;
  font-size: 16px;
  text-decoration: line-through;
  line-height: 180%;
  text-transform: capitalize;
  color: #adadad;
  text-align: right;
  right: 440px;
  bottom: 10px;
}

section.foods > div.space > div.kofte > div.details div.price-recipe > div.now-price {
  position: relative;
  font-size: 18px;
  line-height: 180%;
  text-transform: capitalize;
  font-family: estedad;
  color: #353535;
  text-align: left;
  right: 340px;
  top: 22px;
}

section.foods > div.space > div.kofte > div.details div.line-3 {
  position: relative;
}

section.foods > div.space > div.kofte > div.details div.line-3 > div.stars {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -50px;
  top: 10px;
}

section.foods > div.space > div.kofte > div.details div.line-3 > button {
  border: 1px solid #717171;
  border-radius: 4px;
  background-color: #417f56;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 40px;
  font-size: 16px;
  color: #fff;
  font-family: estedad;
  right: 410px;
  top: 5px;
}

footer {
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(/assistent/image/footer-bg.webp);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/assistent/image/footer-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 390px;
  color: #fff;
  font-family: estedad;
  top: 100px;
}

footer div.easy-access {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: estedad;
}

footer div.easy-access > b.easy {
  top: 70px;
  right: 30px;
  width: 184px;
  position: relative;
  line-height: 140%;
  display: inline-block;
}

footer div.easy-access > div.social-media-parent {
  height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  gap: 16px;
  font-size: 14px;
  color: #ededed;
}

footer div.easy-access > div.social-media-parent .footer-text {
  top: 110px;
  right: 30px;
  position: absolute;
  width: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer div.easy-access > div.social-media-parent .footer-text:hover {
  color: #417F56;
  right: 34px;
}

footer div.easy-access > div.social-media-parent .footer-text1 {
  top: 140px;
  right: 30px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer div.easy-access > div.social-media-parent .footer-text1:hover {
  color: #417F56;
  right: 34px;
}

footer div.easy-access > div.social-media-parent .footer-text2 {
  top: 170px;
  right: 30px;
  position: absolute;
  width: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer div.easy-access > div.social-media-parent .footer-text2:hover {
  color: #417F56;
  right: 34px;
}

footer div.easy-access > div.social-media-parent div.social-icon {
  width: 172px;
  margin: 0 !important;
  position: relative;
  top: 123px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

footer div.easy-access > div.social-media-parent div.social-icon > img.footer-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 150px;
  right: 30px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer div.easy-access > div.social-media-parent div.social-icon > img.footer-icon:hover {
  right: 35px;
}

footer > div.the-branches {
  position: relative;
  margin-right: 300px;
  bottom: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: estedad;
}

footer > div.the-branches > b {
  width: 184px;
  position: relative;
  display: inline-block;
}

footer > div.the-branches > div.branch-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
  color: #ededed;
}

footer > div.the-branches > div.branch-parent > div.ekb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 900ms;
  transition: 900ms;
}

footer > div.the-branches > div.branch-parent > div.ekb:hover {
  right: 8px;
  color: #417F56;
  position: relative;
}

footer > div.the-branches > div.branch-parent > div.ekb > p {
  position: relative;
  font-weight: 500;
  top: 35px;
}

footer > div.massage {
  position: absolute;
  height: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: estedad;
  display: inline-block;
}

footer > div.massage > b {
  width: 600px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  bottom: 505px;
  right: 610px;
}

footer > div.massage div.right {
  position: relative;
  display: inline-block;
  bottom: 310px;
}

footer > div.massage div.right > form > input {
  width: 276px;
  height: 40px;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  border: #717171 solid 1px;
  margin-bottom: 19px;
  color: #F9F9F9;
}

footer > div.massage div.right > form > input:hover {
  border: #fff solid 1px;
}

footer > div.massage div.left {
  position: absolute;
  display: inline-block;
  bottom: 304px;
  margin-right: 20px;
}

footer > div.massage div.left > form > input[type=tel] {
  width: 276px;
  height: 158px;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  border: #717171 solid 1px;
  margin-bottom: 19px;
  color: #F9F9F9;
}

footer > div.massage div.left > form > input[type=tel]:hover {
  border: #fff solid 1px;
}

footer > div.massage div.left > form > input[type=submit] {
  border: #717171 solid 1px;
  width: 110px;
  color: #757575;
  font-size: 15px;
  width: 130px;
  border-radius: 4px;
  height: 30px;
}

footer > div.massage div.left > form > input[type=submit]:hover {
  border: #fff solid 1px;
}
/*# sourceMappingURL=menu.css.map */