header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  gap: 220px;
}
header > div.logo img {
  position: relative;
  top: 15px;
  right: 15px;
}
header > nav > ul {
  height: inherit;
  width: inherit;
  list-style: none;
  display: flex;
  gap: 70px;
}
header > nav > ul > li {
  position: relative;
  height: inherit;
  width: auto;
  top: 35px;
}
header > nav > ul > li > a {
  position: relative;
  text-decoration: none;
  color: #717171;
  transition: 200ms;
  font-family: estedad;
}
header > nav > ul > li > a:hover {
  color: #417F56;
  font-weight: bold;
  border-bottom: 2px solid #417F56;
  padding-bottom: 2px;
}
header > div.left-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  top: 20px;
}
header > div.left-icon > img.search {
  border-radius: 4px;
  background-color: #e5f2e9;
  height: 40px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}
header > div.left-icon > img.cart {
  border-radius: 4px;
  background-color: #e5f2e9;
  height: 40px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}
header > div.left-icon > img.user {
  border-radius: 4px;
  background-color: #e5f2e9;
  height: 40px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}

@font-face {
  font-family: estedad;
  src: url(/assistent/font/Estedad-v5.0-Fontjo.com/Estedad[wght\,kshd].ttf);
}
div.contact {
  width: 100%;
  position: relative;
  height: 336px;
  background-image: url("/assistent/image/contact-us-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 40px;
  color: #e5f2e9;
  font-family: estedad;
}
div.contact > b {
  position: absolute;
  width: 100%;
  top: 124px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.brance-card {
  width: 90%;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  height: 280px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #353535;
  font-family: estedad;
  right: 70px;
  transition: 300ms;
}
div.brance-card:hover {
  box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
div.brance-card > img {
  position: absolute;
  width: calc(100% - 622px);
  top: 0px;
  right: 0px;
  left: 622px;
  max-width: 100%;
  overflow: hidden;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
div.brance-card > .div {
  position: absolute;
  top: 24px;
  left: 247px;
  line-height: 180%;
  text-transform: capitalize;
  font-weight: 600;
}
div.brance-card > .content {
  position: absolute;
  top: 75px;
  left: 48px;
  width: 526px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  color: #717171;
}
div.brance-card > .content > address {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.brance-card > .phone-number {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
div.brance-card > .phone-number > .div2 {
  position: relative;
  line-height: 180%;
  text-transform: capitalize;
}
div.brance-card > .button {
  position: absolute;
  right: 771px;
  bottom: 24px;
  border-radius: 4px;
  border: 1px solid #417f56;
  box-sizing: border-box;
  width: 130px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: #417f56;
  font-size: 15px;
}
div.brance-card > .button > div.div7 {
  position: relative;
  line-height: 180%;
  text-transform: capitalize;
  font-weight: 500;
}
div.brance-card > .button1 {
  position: absolute;
  bottom: 24px;
  left: 174px;
  border-radius: 4px;
  background-color: #417f56;
  width: 128px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
}
div.brance-card > .button1 > div.div7 {
  position: relative;
  line-height: 180%;
  text-transform: capitalize;
  font-weight: 500;
}

footer {
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/assistent/image/footer-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 390px;
  color: #fff;
  font-family: estedad;
  margin-top: auto;
}
footer div.easy-access {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: estedad;
}
footer div.easy-access > b.easy {
  top: 70px;
  right: 30px;
  width: 184px;
  position: relative;
  line-height: 140%;
  display: inline-block;
}
footer div.easy-access > div.social-media-parent {
  height: 147px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 16px;
  font-size: 14px;
  color: #ededed;
}
footer div.easy-access > div.social-media-parent .footer-text {
  top: 110px;
  right: 30px;
  position: absolute;
  width: 172px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 200ms;
  cursor: pointer;
}
footer div.easy-access > div.social-media-parent .footer-text:hover {
  color: #417F56;
  right: 34px;
}
footer div.easy-access > div.social-media-parent .footer-text1 {
  top: 140px;
  right: 30px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  transition: 200ms;
  cursor: pointer;
}
footer div.easy-access > div.social-media-parent .footer-text1:hover {
  color: #417F56;
  right: 34px;
}
footer div.easy-access > div.social-media-parent .footer-text2 {
  top: 170px;
  right: 30px;
  position: absolute;
  width: 172px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  transition: 200ms;
  cursor: pointer;
}
footer div.easy-access > div.social-media-parent .footer-text2:hover {
  color: #417F56;
  right: 34px;
}
footer div.easy-access > div.social-media-parent div.social-icon {
  width: 172px;
  margin: 0 !important;
  position: relative;
  top: 123px;
  height: 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
footer div.easy-access > div.social-media-parent div.social-icon > img.footer-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  top: 150px;
  right: 30px;
  transition: 200ms;
  cursor: pointer;
}
footer div.easy-access > div.social-media-parent div.social-icon > img.footer-icon:hover {
  right: 35px;
}
footer > div.the-branches {
  position: relative;
  margin-right: 300px;
  bottom: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: estedad;
}
footer > div.the-branches > b {
  width: 184px;
  position: relative;
  display: inline-block;
}
footer > div.the-branches > div.branch-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
  color: #ededed;
}
footer > div.the-branches > div.branch-parent > div.ekb {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  transition: 200ms;
  cursor: pointer;
}
footer > div.the-branches > div.branch-parent > div.ekb:hover {
  right: 8px;
  color: #417F56;
  position: relative;
}
footer > div.the-branches > div.branch-parent > div.ekb > p {
  position: relative;
  font-weight: 500;
  top: 35px;
}
footer > div.massage {
  position: relative;
  height: 204px;
  gap: 16px;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: estedad;
  display: inline-block;
}
footer > div.massage > b {
  width: 600px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  bottom: 370px;
  right: 610px;
}
footer > div.massage div.right {
  position: absolute;
  display: inline-block;
  bottom: 310px;
}
footer > div.massage div.right > form > input {
  width: 276px;
  height: 40px;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  border: #717171 solid 1px;
  margin-bottom: 19px;
  color: #F9F9F9;
}
footer > div.massage div.right > form > input:hover {
  border: #fff solid 1px;
}
footer > div.massage div.left {
  position: absolute;
  display: inline-block;
  bottom: 279px;
  margin-right: 300px;
}
footer > div.massage div.left > form > input[type=tel] {
  width: 276px;
  height: 158px;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  border: #717171 solid 1px;
  margin-bottom: 19px;
  color: #F9F9F9;
}
footer > div.massage div.left > form > input[type=tel]:hover {
  border: #fff solid 1px;
}
footer > div.massage div.left > form > input[type=submit] {
  border: #717171 solid 1px;
  width: 110px;
  color: #757575;
  font-size: 15px;
  width: 130px;
  border-radius: 4px;
  height: 30px;
}
footer > div.massage div.left > form > input[type=submit]:hover {
  border: #fff solid 1px;
}/*# sourceMappingURL=contact.css.map */