* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    gap: 220px;

    >div.logo {
        img {

            position: relative;
            top: 15px;
            right: 15px;
        }
    }

    >nav {
        >ul {
            height: inherit;
            width: inherit;
            list-style: none;
            display: flex;
            gap: 70px;


            >li {
                position: relative;
                height: inherit;
                width: auto;
                top: 35px;

                >a {
                    position: relative;
                    text-decoration: none;
                    color: #717171;
                    transition: 200ms;
                    font-family: estedad;

                    &:hover {
                        color: #417F56;
                        font-weight: bold;
                        border-bottom: 2px solid #417F56;
                        padding-bottom: 2px;
                    }

                }
            }
        }
    }


    >div.left-icon {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 8px;
        top: 20px;

        >img.search {
            border-radius: 4px;
            background-color: #e5f2e9;
            height: 40px;
            overflow: hidden;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 8px;
            box-sizing: border-box;

        }

        >img.cart {
            border-radius: 4px;
            background-color: #e5f2e9;
            height: 40px;
            overflow: hidden;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 8px;
            box-sizing: border-box;
        }

        >img.user {
            border-radius: 4px;
            background-color: #e5f2e9;
            height: 40px;
            overflow: hidden;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 8px;
            box-sizing: border-box;
        }
    }
}

@font-face {
    font-family: estedad;
    src: url(/assistent/font/Estedad-v5.0-Fontjo.com/Estedad[wght\,kshd].ttf);
}

div.food-swiper {
    >img {
        max-width: 100%;
    }
}

b.menu {
    width: 142px;
    font-size: 24px;
    font-family: estedad;
    color: #353535;
    position: relative;
    right: calc(50% - 70px);
    top: 50px;
}

div.restaurant-menu {

    display: flex;
    align-content: space-evenly;

    div.main-food {
        >img {
            z-index: 1;
            position: absolute;
            margin: 0 !important;
            max-width: 100%;
            overflow: hidden;
            height: 240px;
            flex-shrink: 0;
            top: 600px;
            right: 100px;
            transition: 400ms;

            &:hover {
                position: absolute;
                top: 550px;
            }
        }

        div.bg-1 {
            z-index: 0;
            width: 287px;
            flex: 1;
            position: relative;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #417f56;
            border: 1px #417f56;
            box-sizing: border-box;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 8px;
            gap: 17px;
            text-align: center;
            font-size: 20px;
            color: #353535;
            font-family: estedad;
            top: 270px;
            right: 80px;

            >div.button-1 {
                >a {
                    width: 170px;
                    text-decoration: none;
                    z-index: 2;
                    position: absolute;
                    margin: 0 !important;
                    top: 136px;
                    border-radius: 4px;
                    background-color: #f9f9f9;
                    height: 48px;
                    overflow: hidden;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 16px;
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 20px;
                    color: #353535;
                    font-family: estedad;
                    box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                    right: 55px;
                }

            }
        }
    }

    div.appetizer {
        >img {
            z-index: 1;
            position: absolute;
            margin: 0 !important;
            max-width: 100%;
            overflow: hidden;
            height: 240px;
            flex-shrink: 0;
            top: 600px;
            right: 403px;
            transition: 400ms;

            &:hover {
                position: absolute;
                top: 550px;
            }
        }

        div.bg-2 {
            z-index: 0;
            width: 287px;
            flex: 1;
            position: relative;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #417f56;
            border: 1px #417f56;
            box-sizing: border-box;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 8px;
            gap: 17px;
            text-align: center;
            font-size: 20px;
            color: #353535;
            font-family: estedad;
            top: 270px;
            right: 95px;

            >div.button-2 {
                >a {
                    width: 170px;
                    text-decoration: none;
                    z-index: 2;
                    position: absolute;
                    margin: 0 !important;
                    top: 136px;
                    border-radius: 4px;
                    background-color: #f9f9f9;
                    height: 48px;
                    overflow: hidden;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 16px;
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 20px;
                    color: #353535;
                    font-family: estedad;
                    box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                    right: 55px;
                }

            }
        }
    }


    div.dessert {
        >img {
            z-index: 1;
            position: absolute;
            margin: 0 !important;
            max-width: 100%;
            overflow: hidden;
            height: 240px;
            flex-shrink: 0;
            top: 600px;
            right: 706px;
            transition: 400ms;

            &:hover {
                position: absolute;
                top: 550px;
            }
        }

        div.bg-3 {
            z-index: 0;
            width: 287px;
            flex: 1;
            position: relative;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #417f56;
            border: 1px #417f56;
            box-sizing: border-box;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 8px;
            gap: 17px;
            text-align: center;
            font-size: 20px;
            color: #353535;
            font-family: estedad;
            top: 270px;
            right: 110px;

            >div.button-3 {
                >a {
                    width: 170px;
                    text-decoration: none;
                    z-index: 2;
                    position: absolute;
                    margin: 0 !important;
                    top: 136px;
                    border-radius: 4px;
                    background-color: #f9f9f9;
                    height: 48px;
                    overflow: hidden;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 16px;
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 20px;
                    color: #353535;
                    font-family: estedad;
                    box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                    right: 55px;
                }

            }
        }
    }

    div.drink {
        >img {
            z-index: 1;
            position: absolute;
            margin: 0 !important;
            max-width: 100%;
            overflow: hidden;
            height: 240px;
            flex-shrink: 0;
            top: 600px;
            right: 1025px;
            transition: 400ms;

            &:hover {
                position: absolute;
                top: 550px;
            }
        }

        div.bg-4 {
            z-index: 0;
            width: 287px;
            flex: 1;
            position: relative;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #417f56;
            border: 1px #417f56;
            box-sizing: border-box;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 8px;
            gap: 17px;
            text-align: center;
            font-size: 20px;
            color: #353535;
            font-family: estedad;
            top: 270px;
            right: 125px;

            >div.button-4 {
                >a {
                    width: 170px;
                    text-decoration: none;
                    z-index: 2;
                    position: absolute;
                    margin: 0 !important;
                    top: 136px;
                    border-radius: 4px;
                    background-color: #f9f9f9;
                    height: 48px;
                    overflow: hidden;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 16px;
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 20px;
                    color: #353535;
                    font-family: estedad;
                    box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                    right: 55px;
                }

            }
        }
    }

}

div.the-restuarant {
    position: relative;
    background-image: url(/assistent/image/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    width: 100%;
    height: 390px;
    font-size: 18px;
    color: #fff;
    font-family: estedad;
   margin-top: 500px;
   margin-bottom: 100px;

    >.about {
        >.text-button {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 16px;
            text-align: center;
            font-size: 24px;
            color: #fff;
            font-family: estedad;

            >.text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;
                gap: 24px;

                >.b {
                    right: -270px;
                    top: 40px;
                    width: 300px;
                    position: relative;
                    font-size: 24px;
                    font-family: estedad;
                    color: #fff;
                    text-align: justify;
                    display: inline-block;
                }

                >.div {
                    margin-top: 25px;
                    right: 30px;
                    width: 600px;
                    position: relative;
                    font-size: 20px;
                    line-height: 180%;
                    text-transform: capitalize;
                    text-align: justify;
                    display: inline-block;
                }
            }

            >.button {
                right: 430px;
                width: 200px;
                position: relative;
                border-radius: 4px;
                border: 1px solid #fff;
                box-sizing: border-box;
                height: 40px;
                overflow: hidden;
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 8px 16px;
                gap: 8px;
                text-align: center;
                font-size: 16px;
                color: #fff;
                font-family: estedad;

                >.left-icon {
                    width: 24px;
                    position: relative;
                    height: 24px;

                }
            }
        }

    }

    .feature {
        position: absolute;
        top: 55px;
        left: calc(50% - 612px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        >.icon {
            width: 48px;
            position: relative;
            height: 48px;

            >div.div2 {
                width: 184px;
                position: relative;
                line-height: 180%;
                text-transform: capitalize;
                display: inline-block;

            }
        }

        >div.div {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 24px;
            text-align: center;
            font-size: 18px;
            color: #fff;
            font-family: estedad;

            >div.div1 {
                width: 184px;
                border-radius: 8px;
                height: 136px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 16px 12px;
                box-sizing: border-box;
                gap: 4px;


            }
        }

        div.div3 {
            width: 184px;
            border-radius: 8px;
            height: 136px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16px 12px;
            box-sizing: border-box;
            gap: 4px;
        }
    }
}

b.tarkhineh {
    width: 123px;
    font-size: 24px;
    font-family: estedad;
    color: #353535;
    position: absolute;
    right: 45%;
}

div.branch {
    top: 100px;
    position: relative;
    display: flex;
    gap: 10px;
    margin-right: 80px;

    div.ekbatan {
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        border: 1px #cbcbcb solid;
        box-sizing: border-box;
        height: 344px;
        width: 290px;
        font-size: 20px;
        color: #353535;
        font-family: estedad;
        display: inline-block;
        transition: 300ms;

        &:hover {
            border: #417F56 1px solid;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

        }

        >img {
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 4px 4px 0px 0px;
            width: 288px;
            height: 230px;
            object-fit: cover;
        }


        div.address1 {

            position: absolute;
            top: calc(50% + 66px);
            left: calc(50% - 136px);
            width: 272px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;

            >b {
                top: 0px;
                position: absolute;
                font-weight: 600;
                display: inline-block;

            }

            >span {
                top: 45px;
                width: 272px;
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: #717171;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 50px;
                flex-shrink: 0;
            }

        }

    }

    div.chalus {
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        border: 1px #cbcbcb solid;
        box-sizing: border-box;
        height: 344px;
        width: 290px;
        font-size: 20px;
        color: #353535;
        font-family: estedad;
        display: inline-block;
        transition: 300ms;

        &:hover {
            border: #417F56 1px solid;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

        }

        >img {
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 4px 4px 0px 0px;
            width: 288px;
            height: 230px;
            object-fit: cover;
        }

        div.address2 {
            position: absolute;
            top: calc(50% + 66px);
            left: calc(50% - 136px);
            width: 272px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;

            >b {
                top: 0px;
                position: absolute;
                font-weight: 600;
                display: inline-block;
            }

            >span {
                top: 45px;
                width: 272px;
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: #717171;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 50px;
                flex-shrink: 0;
            }
        }

    }

    div.aqdasiye {

        position: relative;
        border-radius: 8px;
        background-color: #fff;
        border: 1px #cbcbcb solid;
        box-sizing: border-box;
        height: 344px;
        width: 290px;
        font-size: 20px;
        color: #353535;
        font-family: estedad;
        display: inline-block;
        transition: 300ms;

        &:hover {
            border: #417F56 1px solid;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

        }

        >img {
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 4px 4px 0px 0px;
            width: 288px;
            height: 230px;
            object-fit: cover;
        }

        div.address3 {

            position: absolute;
            top: calc(50% + 66px);
            left: calc(50% - 136px);
            width: 272px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;

            >b {
                top: 0px;
                position: absolute;
                font-weight: 600;
                display: inline-block;

            }

            >span {
                top: 45px;
                width: 272px;
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: #717171;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 50px;
                flex-shrink: 0;
            }

        }
    }

    div.vanak {
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        border: 1px #cbcbcb solid;
        box-sizing: border-box;
        height: 344px;
        width: 290px;
        font-size: 20px;
        color: #353535;
        font-family: estedad;
        display: inline-block;
        transition: 300ms;

        &:hover {
            border: #417F56 1px solid;
            box-shadow: 0px 25px 7px rgba(0, 0, 0, 0), 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

        }

        >img {
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 4px 4px 0px 0px;
            width: 288px;
            height: 230px;
            object-fit: cover;
        }

        div.address4 {
            position: absolute;
            top: calc(50% + 66px);
            left: calc(50% - 136px);
            width: 272px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;

            >b {
                top: 0px;
                position: absolute;
                font-weight: 600;
                display: inline-block;

            }

            >span {
                top: 45px;
                width: 272px;
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: #717171;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 50px;
                flex-shrink: 0;
            }
        }
    }

}

footer {
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(/assistent/image/footer-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 390px;
    color: #fff;
    font-family: estedad;
    margin-top: auto;

    div.easy-access {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
        text-align: right;
        font-size: 20px;
        color: #fff;
        font-family: estedad;

        >b.easy {
            top: 70px;
            right: 30px;
            width: 184px;
            position: relative;
            line-height: 140%;
            display: inline-block;
        }

        >div.social-media-parent {
            height: 147px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            gap: 16px;
            font-size: 14px;
            color: #ededed;

            .footer-text {
                top: 110px;
                right: 30px;
                position: absolute;
                width: 172px;
                display: flex;
                flex-direction: row;
                align-items: center;
                transition: 200ms;
                cursor: pointer;

                &:hover {
                    color: #417F56;
                    right: 34px
                }
            }

            .footer-text1 {
                top: 140px;
                right: 30px;
                position: absolute;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 20px;
                transition: 200ms;
                cursor: pointer;

                &:hover {
                    color: #417F56;
                    right: 34px
                }
            }

            .footer-text2 {
                top: 170px;
                right: 30px;
                position: absolute;
                width: 172px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 40px;
                transition: 200ms;
                cursor: pointer;

                &:hover {
                    color: #417F56;
                    right: 34px
                }
            }

            div.social-icon {
                width: 172px;
                margin: 0 !important;
                position: relative;
                top: 123px;
                height: 24px;
                display: flex;
                flex-direction: row;
                gap: 16px;


                >img.footer-icon {
                    width: 24px;
                    position: relative;
                    height: 24px;
                    overflow: hidden;
                    flex-shrink: 0;
                    top: 150px;
                    right: 30px;
                    transition: 200ms;
                    cursor: pointer;

                    &:hover {
                        right: 35px;
                    }
                }

            }

        }

    }

    >div.the-branches {
        position: relative;
        margin-right: 300px;
        bottom: 122px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
        text-align: right;
        font-size: 20px;
        color: #fff;
        font-family: estedad;

        >b {
            width: 184px;
            position: relative;
            display: inline-block;
        }

        >div.branch-parent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
            font-size: 14px;
            color: #ededed;

            >div.ekb {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                transition: 200ms;
                cursor: pointer;

                &:hover {
                    right: 8px;
                    color: #417F56;
                    position: relative;
                }

                >p {
                    position: relative;
                    font-weight: 500;
                    top: 35px;
                }
            }
        }
    }

    >div.massage {
        position: relative;
        height: 204px;
        gap: 16px;
        text-align: right;
        font-size: 20px;
        color: #fff;
        font-family: estedad;
        display: inline-block;

        >b {
            width: 600px;
            position: relative;
            line-height: 140%;
            display: inline-block;
            bottom: 370px;
            right: 610px;
        }

        div.right {
            position: absolute;
            display: inline-block;
            bottom: 310px;

            >form {
                >input {
                    width: 276px;
                    height: 40px;
                    border-radius: 4px;
                    font-size: 15px;
                    padding: 10px;
                    border: #717171 solid 1px;
                    margin-bottom: 19px;
                    color: #F9F9F9;

                    &:hover {
                        border: #fff solid 1px;
                    }
                }

            }

        }

        div.left {
            position: absolute;
            display: inline-block;
            bottom: 279px;
            margin-right: 300px;

            >form {
                >input[type=tel] {
                    width: 276px;
                    height: 158px;
                    border-radius: 4px;
                    font-size: 15px;
                    padding: 10px;
                    border: #717171 solid 1px;
                    margin-bottom: 19px;
                    color: #F9F9F9;

                    &:hover {
                        border: #fff solid 1px;
                    }

                }

                >input[type=submit] {
                    border: #717171 solid 1px;
                    width: 110px;
                    color: #757575;
                    font-size: 15px;
                    width: 130px;
                    border-radius: 4px;
                    height: 30px;

                    &:hover {
                        border: #fff solid 1px;
                    }
                }
            }

        }
    }
}